<template>
  <div >
      <div class="chat-pop-up" >
          <i class="fas fa-envelope-open-text" @click="toggleChat"></i>

          <div class="chat">
              <div class="chat-cont">
                 <div class="message-write">
                      <div class="chat-sender">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>
                      </div>
                  </div>


                  <div class="chat-recever">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>
                      </div>
                  </div>

                  <div class="chat-sender">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>
                      </div>
                  </div>

                   <div class="chat-recever">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>
                      </div>
                  </div>
                 </div>

                  <div class="message-cont from-groub">
                      <input type="text" class="form-control" name="" id="" placeholder="أكتب رسالتك">
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return {
            chat: false
        }
    },
    methods:{
        toggleChat: function(){
            this.chat = !this.chat
        }
    },
    watch: {
        chat: function(val) {
            console.log(val)
            if(this.chat == true){
                document.querySelector('.chat-pop-up .chat .chat-cont').style.right ="37px"
            }else{
                 document.querySelector('.chat-pop-up .chat .chat-cont').style.right ="-364px"
            }
        }
    }
}
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl{
  $left: right;
  $right: left;
}@else{
  $left: left;
$right: right;
}

*{
    direction: $dir !important;
    text-align: $left;
}

.chat-pop-up{
    position: fixed;
    bottom:10px;
    right: 10px;
    padding: 10px;
    background:#febe06;
    z-index: 9;
    i{
            color: #FFF;
        font-size: 25px;
        cursor: pointer;
    }
    .chat{
        position: relative;
        .chat-cont{
            transition: all .4s ease;
            position: absolute;
            top: -251px;
            background: #EEE;
            
    right: -364px;

            height: 263px;
            width: 300px;
            border-radius: 10px;
            padding: 10px;
            .message-write{
                     overflow-y: scroll;
    /* clear: both; */
    height: 206px;
            }
            .chat-sender{
                overflow: hidden;
                margin-bottom: 10px;
                .user-img{
                    width: 20%;
                    overflow: hidden;
                    float: $left;
                    border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .user-message{
                width: 70%;
                background-color:#FFF;
                margin-right: 10px;
                float: $left;
                p{
                    padding: 10px 11px 5px;
                }
            }

           
            }

           

 .message-cont.from-groub{
                position: absolute;
                bottom: 6px;
                width: 95%;
            }
            .chat-recever{
                overflow: hidden;
                margin-bottom: 10px;
                .user-img{
                    width: 20%;
                    overflow: hidden;
                    float: $right;
                    border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .user-message{
                width: 70%;
                background-color:#FFF;
                margin-right: 10px;
                float: $right;
                p{
                    padding: 10px 11px 5px;
                }
            }
            }
        }
    }

     .message-write::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            .message-write::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #999; 
                border-radius: 10px;
            }
            
            /* Handle */
            .message-write::-webkit-scrollbar-thumb {
                background: #8c8b8b; 
                border-radius: 10px;
            }

            /* Handle on hover */
            .message-write::-webkit-scrollbar-thumb:hover {
                background: #8c8b8b; 
            }
}
</style>