<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <input type="file" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <slot name="head-choose"></slot>
    </h6>

    <div class="ques-answer-btns">
      <div class="row">
        <div class="col-md-6" v-for="(item,index) in choices" :key="index">
          <div class="form-group">
            <input v-model="choices[index]" type="text" class="form-control" />
            <input type="radio" name="active" id />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    choices: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      //   choices: ["1", "2", "3", "4"],
      selectedValue: "",
      selectedClass: false
    };
  },
  methods: {
    selected: function(e) {
      this.selectedValue = e.target.value;
      this.selectedClass = !this.selectedClass;
      e.target.classList.toggle("selected");
      if (this.selectedClass == false) {
        e.target.classList.add("selected");
      } else {
        e.target.classList.remove("selected");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  position: relative;
  input[type="text"] {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }
  input[type="radio"] {
    position: absolute;
    left: 23px;
    top: 18px;
  }
}
.selected {
  background: #333 !important;
}
</style>

