<template>
   <div class="check-box-ques">
                <h6>   <section>
                      <div>
                           <input type="file">
                       <i class="far fa-file-image"></i>
                      </div>
                   </section> <slot name="head-true-false">  </slot> </h6>

                  <div style="overflow:hidden;display: block;float: left;width: 50%;">
                  <input type="radio" name="check-ques-1" class="absthalk-radio" id="">
                                <span>خطأ</span>
                </div>


               <div style="overflow:hidden;display: block;float: left;width: 50%;">
                  <input type="radio" name="check-ques-1" class="absthalk-radio" id="">
                                <span>صح</span>
               </div>



              </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
 .check-box-ques{
     section{
           position: absolute;
    left: 0;
    padding: 0;
    box-shadow: none;
    top: -4px;
        div{
            position: relative;
            input[type="file"]{
                opacity: 0;
    height: 58px;
    cursor: pointer;
    position: relative;
    width: 54px;
    z-index: 3;
        }
        i{
            cursor: pointer;
           position: absolute;
    top: 19px;
    right: le;
    left: 15px;
    font-size: 24px;
    color: #058ac6;
        }
        }
        
    }
      span{
           display: block;
    float: right;
    font-size: 18px;
    font-family: "CustomFontMedium";
    padding-top: 3px;
    
    margin: 0 6px;
    top: 11px;
    left: 0px;
    padding: 0 3px;
      }
      >img{
        width: 100%;
    height: 207px;
    margin-bottom: 34px;
    box-shadow: 0px 1px 10px -1px #ddd;
    border-radius: 17px;
      }
      h6{
            margin-bottom: 15px;
    color: 20px;
    margin-top: 22px;
    color: #898989;
        position: relative;
    clear: both;
      }
      .ques-answer-btns{
        button{
              padding: 14px;
              width: 100%;
              text-align: center;
    background: #FFF;
    border: 0;
    box-shadow: 0px 0px 10px 1px #DDD;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
        }
      }
      .file-choose{
        position: relative;
    width: 100%;
    height: 200px;
    margin-top: 13px;
    input[type="file"]{
      position: absolute;
    width: 100%;
    /* visibility: hidden; */
    opacity: 0;
    height: 100%;
    cursor: pointer;
    margin-top: 10px;
    }
    span{
            border: 1px dashed #444444;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: -1;
    margin: 10px 0;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    line-height: 186px;
    color: #444444;
    }

      }
    }
</style>