<!-- You can custom the "myQuillEditor" name used to find the quill instance in current component -->
<template>
  <!-- bidirectional data binding（双向数据绑定） -->
  <div>
    <div
      class="quill-editor content"
      v-model="content"
      v-quill:myQuillEditor="editorOption"
    ></div>

    <!-- Or manually control the data synchronization（手动控制数据流）  -->
    <!-- <div
      class="quill-editor"
      :content="content"
      v-quill:myQuillEditor="editorOption"
    ></div> -->
    <!-- @change="onEditorChange($event)" -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      content: "",
      editorOption: {
        /* quill options */
      }
    };
  },
  mounted() {
    console.log("this is current quill instance object", this.myQuillEditor);
  },
  methods: {
    onEditorChange(event) {
      console.log("onEditorChange");
    }
  }
  // Omit the same parts as in the following component sample code
  // ...
};
</script>
<style scoped>
.content p {
  text-decoration: underline !important;
}
</style>
